# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output client
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log

# IDEs and editors
/client/.idea/
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

# Visual Studio Code
/client/.vscode/*
/client/!.vscode/settings.json
/client/!.vscode/tasks.json
/client/!.vscode/launch.json
/client/!.vscode/extensions.json
/client/.history/*

# Miscellaneous
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings

# System files
/client/.DS_Store
/client/Thumbs.db


# Compiled output client-ngrx
/client-ngrx/dist
/client-ngrx/tmp
/client-ngrx/out-tsc
/client-ngrx/bazel-out

# Node
/client-ngrx/node_modules
/client-ngrx/npm-debug.log
/client-ngrx/yarn-error.log

# IDEs and editors
/client-ngrx/.idea/
/client-ngrx/.project
/client-ngrx/.classpath
/client-ngrx/.c9/
/client-ngrx/*.launch
/client-ngrx/.settings/
/client-ngrx/*.sublime-workspace

# Visual Studio Code
/client-ngrx/.vscode/*
/client-ngrx/!.vscode/settings.json
/client-ngrx/!.vscode/tasks.json
/client-ngrx/!.vscode/launch.json
/client-ngrx/!.vscode/extensions.json
/client-ngrx/.history/*

# Miscellaneous
/client-ngrx/.angular/cache
/client-ngrx/.sass-cache/
/client-ngrx/connect.lock
/client-ngrx/coverage
/client-ngrx/libpeerconnection.log
/client-ngrx/testem.log
/client-ngrx/typings

# System files
/client-ngrx/.DS_Store
/client-ngrx/Thumbs.db




# Compiled output server
/server/bin
/server/.vscode
/server/obj
