<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Personal Information
    </ng-template>
    <ng-template pTemplate="subtitle">
      Enter your personal information
    </ng-template>
    <ng-template pTemplate="content">
      <form *ngIf="formInfo" [formGroup]="formInfo">
      <div class="row" >
        <div class="col-md-3 p-fluid mb-3 ">
          <div class="field">
            <label for="amount" class="form-label">Amount </label>

            <div class="input-group">
              <span class="input-group-text">$</span>
              <input  type="number" required formControlName="amount"
              class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text">.00</span>
            </div>

            <div *ngIf="formInfo.get('amount')?.invalid && formInfo.get('amount')?.touched">
              <div class="text-danger" *ngIf="formInfo.get('amount')?.errors?.['required']">
                Amount is required.
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 p-fluid mb-3 ">
          <div class="field">
            <label for="date" class="form-label">Date </label>
            <input id="date" type="date" formControlName="date" [min]="minDateValue" [max]="maxDateValue" required
               class="form-control" onkeypress="return false"
              [ngClass]="{'ng-dirty': (formInfo.get('date')?.invalid && submitted) || (formInfo.get('date')?.dirty && formInfo.get('date')?.invalid)}">

            <div *ngIf="(formInfo.get('date')?.invalid && submitted) || (formInfo.get('date')?.dirty && formInfo.get('date')?.invalid) ">
              <div class="text-danger" *ngIf="formInfo.get('date')?.errors?.['required']">
                Source is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 p-fluid mb-3 ">
          <div class="field">
            <label for="status" class="form-label">Status </label>
            <select class="form-select" formControlName="status" name="status"
             required
             [ngClass]="{'ng-dirty': (formInfo.get('status')?.invalid && submitted) || (formInfo.get('status')?.dirty && formInfo.get('status')?.invalid)}">
              <option value="">Choose Status....</option>
              <option *ngFor="let item of statusItems" [ngValue]="item.id">
                {{ item.text }}
              </option>
            </select>
            <div *ngIf="(formInfo.get('status')?.invalid && submitted) || (formInfo.get('status')?.dirty && formInfo.get('status')?.invalid) ">
              <div class="text-danger" *ngIf="formInfo.get('status')?.errors?.['required']">
                Status is required.
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3 p-fluid mb-3 ">
          <div class="field">
            <label for="source" class="form-label">Source </label>
            <input formControlName="source" id="source" type="text" class="form-control" required
              [ngClass]="{'ng-dirty': (formInfo.get('source')?.invalid && submitted) || (formInfo.get('source')?.dirty && formInfo.get('source')?.invalid)}">

            <div *ngIf="(formInfo.get('source')?.invalid && submitted) || (formInfo.get('source')?.dirty && formInfo.get('source')?.invalid) ">
              <div class="text-danger" *ngIf="formInfo.get('source')?.errors?.['required']">
                Source is required.
              </div>
              <div class="text-danger" *ngIf="formInfo.get('source')?.errors?.['forbiddenName']">
                Source cannot be Bob.
              </div>
              <div class="text-danger" *ngIf="formInfo.get('source')?.errors?.['pattern']">
                Please enter only letters.
              </div>
            </div>
          </div>
        </div>

      </div>
      </form>

</ng-template>
<ng-template pTemplate="footer">
  <div class="grid grid-nogutter justify-content-between ng-star-inserted mt-4">
    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>

    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
  </div>
</ng-template>
</p-card>
</div>
